
div.imageDiv {
	width: 200px;
	height: 200px;
}

div#cartItemsDiv {
	border-left: 6px groove steelblue;
}

div#summaryDiv {
	border-left: 4px groove cadetblue;
}

tr#gTotalRow {
	font-weight: bold;
}

div#shopBtnDiv {
	width: max-content;
    margin-left: auto;
}

div#checkoutBtnDiv {
	width: max-content;
    margin-left: auto;
}