
div.imageDiv {
	width: 200px;
	height: 200px;
}

button.prodNameBtn {
	background: none;
    border: none;
    padding: 0px;
}

p.prodNamePrg {
	margin-bottom: 0px;
    text-decoration: underline;
    color: #004586;
}

p#emptyCartPrg {
	text-align: center;
    font-style: italic;
}

div#cartItemsDiv {
	border-left: 6px groove steelblue;
}

div#summaryDiv {
	border-left: 4px groove cadetblue;
}

tr#gTotalRow {
	font-weight: bold;
}

div#shopBtnDiv {
	width: max-content;
    margin-left: auto;
}

div#checkoutDiv {
	width: max-content;
    margin-left: auto;
}

.imageDiv#emptyCartDiv {
	margin: auto;
}

#shopBtn{
	margin-top: 20px;
}